.radio-group label {
  margin: 0 1.5em 0 0;
  line-height: 2em;
}
#toplevel_page_steel .wp-menu-image::before {
  font-family: "starverte" !important;
  content: "\e801"!important;
}
.dashicons {
  width: 18px;
  height: 18px;
  margin: 0 2px;
  vertical-align: sub;
}
.form-addon-left {
  padding: 5px 12px;
  padding-bottom: 4px;
  margin: 1px;
  margin-right: -1px;
  background: #ddd;
  border-color: #ddd;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.07);
}
.clearfix {
  float: none;
  clear: both;
}
