#toplevel_page_steel .wp-menu-image::before {
  font-family: 'Star Verte' !important;
  content: 'c'!important;
}
#menu-posts-steel_profile .wp-menu-image::before {
	font: normal 20px/1 'dashicons';
  content: "\f307";
}
