.radio-group label {
  margin: 0 1.5em 0 0;
  line-height: 2em;
}
#toplevel_page_steel .wp-menu-image::before {
  font-family: 'Star Verte' !important;
  content: 'c'!important;
}
span[class*='steel-icon-'] {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 2px;
  font: 400 18px/1 dashicons;
  vertical-align: text-top;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  speak: none;
}
.steel-icon-businessman:before {
  content: "\f338";
}
.steel-icon-calendar:before {
  content: "\f145";
}
.steel-icon-clock:before {
  content: "\f469";
}
.steel-icon-cover-photo:before {
  content: "\f128";
}
.steel-icon-format-audio:before {
  content: "\f127";
}
.steel-icon-media:before {
  content: "\f236";
}
.steel-icon-media-audio:before {
  content: "\f500";
}
.steel-icon-plus:before {
  content: "\f132";
}
.steel-icon-trash:before {
  content: "\f182";
}
.steel-icon-dismiss:before {
  content: "\f153";
}
.steel-icon-link:before {
  content: "\f103";
}
.steel-icon-down:before {
  content: "\f333";
}
.form-addon-left {
  padding: 5px 12px;
  padding-bottom:4px;
  margin: 1px;
  margin-right: -1px;
  background: #ddd;
  border-color: #ddd;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.07);
}

/* Slides */
.post-php.post-type-steel_slides #misc-publishing-actions,
.post-php.post-type-steel_slides #minor-publishing-actions,
.post-new-php.post-type-steel_slides #misc-publishing-actions,
.post-new-php.post-type-steel_slides #minor-publishing-actions {
  display: none;
}
.add_slide_media {
  margin: 5px 0 !important;
}
#slides {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#slides img {
  margin: -5px 0 0;
}
#slides input,
#slides textarea {
  padding: 5px;
  margin: 0 5px;
  background: none;
  border: 0;
  box-shadow: none;
}
#slides p {
  position: relative;
  width: 300px;
  margin-top: -85px;
  margin-bottom: 0;
}
#slides p input,
#slides p textarea {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
#slides input:hover,
#slides textarea:hover,
#slides input:focus,
#slides textarea:focus {
  font-weight: normal;
  color: #222;
  text-shadow: none;
  background: #fff;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.07);
}
.slide-title {
  font-weight: 600;
}
#slides p textarea {
  font-weight: 300;
  resize: none;
}
.slide-controls {
  height: 18px;
  padding: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #fff;
  cursor: move;
  border-bottom: 1px solid #eee;
}
.del-slide,
.del-slide:hover,
.edit-toggle,
.edit-toggle:hover {
  color: #fff;
  cursor: pointer;
}

.slide {
  float: left;
  width: 300px;
  height: 245px;
  margin: 5px 5px 5px 0;
  overflow: hidden;
  background: #fff;
  border: 1px solid #f1f1f1;
  border-top: 0;
}
.slide-new {
  float: left;
  width: 300px;
  height: 245px;
  margin: 5px 5px 5px 0;
  overflow: hidden;
  text-align: center;
  background: #f1f1f1;
  border: 1px solid #f7f7f7;
}
.slide-new:hover {
  background: #f7f7f7;
  border: 1px solid #f1f1f1;
}
.slide-new p {
  margin-top: 80px;
  font-size: 34px;
}
.slide:hover {
  border: 1px solid #ccc;
  border-top: 0;
}
.slide:hover p,
.slide:active p {
  background: #222;
  background: rgba(0,0,0,0.6);
}
.slide-controls {
  border-bottom: 1px solid #fff;
}
.slide-controls span {
  display: inline-block;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.admin-color-fresh .slide-controls {
  background: #2ea2cc;
  border-color: #0074a2;
}
.admin-color-fresh .slide-controls:hover,
.admin-color-fresh .slide:hover .slide-controls {
  background: #1e8cbe;
}
.admin-color-light .slide-controls {
  background: #04a4cc;
  border-color: #036881;
}
.admin-color-light .slide-controls:hover,
.admin-color-light .slide:hover .slide-controls {
  background: #0384a4;
}
.admin-color-blue .slide-controls {
  background: #e1a948;
  border-color: #d39323;
}
.admin-color-blue .slide-controls:hover,
.admin-color-blue .slide:hover .slide-controls {
  background: #db9825;
}
.admin-color-coffee .slide-controls {
  background: #c7a589;
  border-color: #b78a66;
}
.admin-color-coffee .slide-controls:hover,
.admin-color-coffee .slide:hover .slide-controls {
  background: #ba906d;
}
.admin-color-ectoplasm .slide-controls {
  background: #a3b745;
  border-color: #839237;
}
.admin-color-ectoplasm .slide-controls:hover,
.admin-color-ectoplasm .slide:hover .slide-controls {
  background: #89993a;
}
.admin-color-midnight .slide-controls {
  background: #e14d43;
  border-color: #d02a21;
}
.admin-color-midnight .slide-controls:hover,
.admin-color-midnight .slide:hover .slide-controls {
  background: #d92c23;
}
.admin-color-ocean .slide-controls {
  background: #9ebaa0;
  border-color: #80a583;
}
.admin-color-ocean .slide-controls:hover,
.admin-color-ocean .slide:hover .slide-controls {
  background: #86a988;
}
.admin-color-sunrise .slide-controls {
  background: #dd823b;
  border-color: #c36822;
}
.admin-color-sunrise .slide-controls:hover,
.admin-color-sunrise .slide:hover .slide-controls {
  background: #cc6c23;
}

/* Podcast */
.post-php.post-type-steel_podcast #misc-publishing-actions,
.post-php.post-type-steel_podcast #minor-publishing-actions,
.post-new-php.post-type-steel_podcast #misc-publishing-actions,
.post-new-php.post-type-steel_podcast #minor-publishing-actions {
  display: none;
}
.add_episode_media {
  margin: 5px 0 !important;
}
#series {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#series img {
  margin: -5px 0 0;
}
#series input,
#series textarea {
  max-width: 250px;
  padding: 5px;
  margin: 0 5px;
  background: none;
  border: 0;
  box-shadow: none;
}
#series p {
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
#series input:hover,
#series textarea:hover,
#series input:focus,
#series textarea:focus {
  color: #222;
}
.episode-title {
  font-weight: 600;
}
#series p textarea {
  font-weight: 300;
  resize: none;
}
.episode-controls {
  height: 18px;
  padding: 7px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #fff;
  cursor: move;
  border-bottom: 1px solid #eee;
}
.del-episode,
.del-episode:hover,
.edit-toggle,
.edit-toggle:hover {
  color: #fff;
  cursor: pointer;
}

.episode {
  float: left;
  width: 100%;
  max-width: 250px;
  min-height: 230px;
  margin: 5px 5px 5px 0;
  overflow: hidden;
  background: #fff;
  border: 1px solid #f1f1f1;
  border-top: 0;
}
.episode-new {
  float: left;
  width: 100%;
  max-width: 250px;
  min-height: 230px;
  margin: 5px 5px 5px 0;
  overflow: hidden;
  text-align: center;
  background: #f1f1f1;
  border: 1px solid #f7f7f7;
}
.episode-new:hover {
  background: #f7f7f7;
  border: 1px solid #f1f1f1;
}
.episode-new p {
  margin-top: 80px;
  font-size: 34px;
}
.episode:hover {
  border: 1px solid #ccc;
  border-top: 0;
}
.episode-controls {
  border-bottom: 1px solid #fff;
}
.episode-controls span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.admin-color-fresh .episode-controls {
  background: #2ea2cc;
  border-color: #0074a2;
}
.admin-color-fresh .episode-controls:hover,
.admin-color-fresh .episode:hover .episode-controls {
  background: #1e8cbe;
}
.admin-color-light .episode-controls {
  background: #04a4cc;
  border-color: #036881;
}
.admin-color-light .episode-controls:hover,
.admin-color-light .episode:hover .episode-controls {
  background: #0384a4;
}
.admin-color-blue .episode-controls {
  background: #e1a948;
  border-color: #d39323;
}
.admin-color-blue .episode-controls:hover,
.admin-color-blue .episode:hover .episode-controls {
  background: #db9825;
}
.admin-color-coffee .episode-controls {
  background: #c7a589;
  border-color: #b78a66;
}
.admin-color-coffee .episode-controls:hover,
.admin-color-coffee .episode:hover .episode-controls {
  background: #ba906d;
}
.admin-color-ectoplasm .episode-controls {
  background: #a3b745;
  border-color: #839237;
}
.admin-color-ectoplasm .episode-controls:hover,
.admin-color-ectoplasm .episode:hover .episode-controls {
  background: #89993a;
}
.admin-color-midnight .episode-controls {
  background: #e14d43;
  border-color: #d02a21;
}
.admin-color-midnight .episode-controls:hover,
.admin-color-midnight .episode:hover .episode-controls {
  background: #d92c23;
}
.admin-color-ocean .episode-controls {
  background: #9ebaa0;
  border-color: #80a583;
}
.admin-color-ocean .episode-controls:hover,
.admin-color-ocean .episode:hover .episode-controls {
  background: #86a988;
}
.admin-color-sunrise .episode-controls {
  background: #dd823b;
  border-color: #c36822;
}
.admin-color-sunrise .episode-controls:hover,
.admin-color-sunrise .episode:hover .episode-controls {
  background: #cc6c23;
}
