.post-php.post-type-steel_broadcast #misc-publishing-actions,
.post-php.post-type-steel_broadcast #minor-publishing-actions,
.post-new-php.post-type-steel_broadcast #misc-publishing-actions,
.post-new-php.post-type-steel_broadcast #minor-publishing-actions {
  display: none;
}
.btn-media-add {
  margin: 5px 0 !important;
}
#series {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.item-title,
.item-content,
.item-date,
.item-artist {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  width: 100%;
}
.audio-file {
  float: left;
  width: 85%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
.item-date,
.item-artist {
  float: left;
  padding: 5px;
  width: 85%;
}
.item p {
  margin-top: 0;
  margin-bottom: 0;
}
.item-header {
  margin-bottom: 0;
}
.item-h2 {
  background: #eee;
  padding-top: 5px;
  padding-bottom: 5px;
}
.item-h2 p {
  padding-left: 5px;
}
.item .dashicons {
  float: left;
  padding: 5px;
}
.item-header .dashicons {
  padding: 0;
  float: right;
}
#series p {
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
#series input:hover,
#series textarea:hover,
#series input:focus,
#series textarea:focus {
  color: #222;
}
.item-title {
  font-weight: 600;
}
#series p textarea {
  font-weight: 300;
  resize: none;
}
.item-header {
  height: 18px;
  padding: 7px;
  font-weight: 600;
  color: #fff;
  cursor: move;
  border-bottom: 1px solid #eee;
}
.item-delete,
.item-delete:hover,
.edit-toggle,
.edit-toggle:hover {
  color: #fff;
  cursor: pointer;
}

.item {
  float: left;
  width: 100%;
  max-width: 250px;
  min-height: 230px;
  margin: 5px 5px 5px 0;
  overflow: hidden;
  background: #fff;
  border: 1px solid #f1f1f1;
  border-top: 0;
}
.item-new {
  float: left;
  width: 100%;
  max-width: 250px;
  min-height: 230px;
  margin: 5px 5px 5px 0;
  overflow: hidden;
  text-align: center;
  background: #f1f1f1;
  border: 1px solid #f7f7f7;
}
.item-new:hover {
  background: #f7f7f7;
  border: 1px solid #f1f1f1;
}
.item-new p {
  margin-top: 80px;
  font-size: 34px;
}
.item:hover {
  border: 1px solid #ccc;
  border-top: 0;
}
.item-header {
  border-bottom: 1px solid #fff;
}
.item-header span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.admin-color-fresh .item-header {
  background: #00a0d2;
  border-color: #0073aa;
}
.admin-color-fresh .item-header:hover,
.admin-color-fresh .item:hover .item-header {
  background: #1e8cbe;
}
.admin-color-light .item-header {
  background: #04a4cc;
  border-color: #036881;
}
.admin-color-light .item-header:hover,
.admin-color-light .item:hover .item-header {
  background: #0384a4;
}
.admin-color-blue .item-header {
  background: #e1a948;
  border-color: #d39323;
}
.admin-color-blue .item-header:hover,
.admin-color-blue .item:hover .item-header {
  background: #db9825;
}
.admin-color-coffee .item-header {
  background: #c7a589;
  border-color: #b78a66;
}
.admin-color-coffee .item-header:hover,
.admin-color-coffee .item:hover .item-header {
  background: #ba906d;
}
.admin-color-ectoplasm .item-header {
  background: #a3b745;
  border-color: #839237;
}
.admin-color-ectoplasm .item-header:hover,
.admin-color-ectoplasm .item:hover .item-header {
  background: #89993a;
}
.admin-color-midnight .item-header {
  background: #e14d43;
  border-color: #d02a21;
}
.admin-color-midnight .item-header:hover,
.admin-color-midnight .item:hover .item-header {
  background: #d92c23;
}
.admin-color-ocean .item-header {
  background: #9ebaa0;
  border-color: #80a583;
}
.admin-color-ocean .item-header:hover,
.admin-color-ocean .item:hover .item-header {
  background: #86a988;
}
.admin-color-sunrise .item-header {
  background: #dd823b;
  border-color: #c36822;
}
.admin-color-sunrise .item-header:hover,
.admin-color-sunrise .item:hover .item-header {
  background: #cc6c23;
}

