.ui-autocomplete {
  max-height: 100px;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  overflow-y: auto;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
  height: 100px;
}
