.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: none;
  opacity: 0.9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\e079';
}
.carousel-control .icon-next:before {
  content: '\e080';
}
.carousel-control .icon-prev:before,
.carousel-control .icon-next:before {
  font-family: 'Glyphicons Halflings';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicons-chevron-left,
  .carousel-control .glyphicons-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}


/* Default skin */
.carousel-default {
  margin: 5px 0;
  border: 0;
  border-radius: 0;
}
.carousel-default img {
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}


/* Bar skin */
.carousel-bar {
  margin: 5px 0;
  border: 0;
  border-radius: 0;
}
.carousel-bar img {
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}

.carousel-bar .carousel-control {
  width: 10%;
}
.carousel-bar .carousel-control .icon-prev:before {
  content: '\e132';
}
.carousel-bar .carousel-control .icon-next:before {
  content: '\e131';
}
.carousel-bar .carousel-indicators {
  display: none;
}
.carousel-bar .item {
  background: #222;
}
.carousel-bar .carousel-caption {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: -2.3em;
  background: #222;
  background: rgba(34,34,34,0.8);
}
.carousel-bar p {
  padding-bottom: 0;
  margin-bottom: 0;
}
.carousel-gallery {
  margin-top: 10px;
  margin-bottom: 10px;
}
.carousel-gallery img,
.entry-content .carousel-gallery img {
  padding: 0;
  border: 0;
  border-radius: 0;
}

/* Simple skin */
.carousel-simple .carousel-controls {
  position: relative;
  bottom: 25px;
  float: right;
  width: 10%;
  background: #000;
}
.carousel-simple .carousel-control.left {
  background-image: none;
  filter: none;
  background-repeat: no-repeat;
}
.carousel-simple .carousel-control.right {
  background-image: none;
  filter: none;
  background-repeat: no-repeat;
}

.carousel-fade .item {
  -webkit-transition: opacity 3s;
     -moz-transition: opacity 3s;
      -ms-transition: opacity 3s;
       -o-transition: opacity 3s;
          transition: opacity 3s;
}
.carousel-fade .active.left,
.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
}
.carousel-fade .next {
  left: 0;
  z-index: 1;
  opacity: 1;
}

/* Tabs skin */
.nav-tabs.carousel-indicators {
  position: relative;
  bottom: auto;
  left: auto;
  z-index: auto;
  width: auto;
  margin-left: 0;
  text-align: inherit;
  list-style: none;
}
.nav-tabs.carousel-indicators > li {
  display: inline-block;
  float: left;
  width: auto;
  height: auto;
  margin: 0;
  margin-bottom: -1px;
  text-indent: 0;
  background-color: transparent;
  border: inherit;
  border-radius: 0;
}
.nav-tabs.carousel-indicators > li.active > a,
.nav-tabs.carousel-indicators > li.active > a:hover,
.nav-tabs.carousel-indicators > li.active > a:focus {
  width: auto;
  height: auto;
  margin: 0;
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
@media screen and (min-width: 768px) {
  .nav-tabs.carousel-indicators {
    bottom: auto;
  }
}

/* Thumbnails skin */
.carousel-thumbnails {
  margin: 5px 0;
  border: 0;
  border-radius: 0;
}
.carousel-thumbnails img,
.carousel-thumbs img {
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}
.carousel-thumbs .col-lg-0,
.carousel-thumbs .col-md-0 {
  display: none;
}
