@font-face {
  font-family: 'starverte';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/starverte.eot?in4k8i');
  src: url('../fonts/starverte.eot?in4k8i#iefix') format('embedded-opentype'),
  url('../fonts/starverte.woff?in4k8i') format('woff'),
  url('../fonts/starverte.ttf?in4k8i') format('truetype'),
  url('../fonts/starverte.svg?in4k8i#starverte') format('svg');
}

[class^='icon-']:before,
[class*=' icon-']:before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-family: 'starverte';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1em;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}

.icon-star:before {
  content: '\e801';
}
.icon-msx:before {
  content: '\e802';
}
.icon-fcc:before {
  content: '\e800';
}
