# Numerous always-ignore extensions
*.diff
*.err
*.lock
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~

# OS or Editor folders
._*
.DS_Store

# Folders to ignore
docs
node_modules
vendor

# Bootstrap
css/bootstrap*
fonts/glyphicon*
js/bootstrap*
js/npm.js

# Matchstix
cards/msx*
