# Numerous always-ignore extensions
*.diff
*.err
*.lock
*.log
*.orig
*.rej
*.swo
*.swp
*.svn
*.vi
*.zip
*~

# OS or Editor folders
._*
.DS_Store

# Folders to ignore
branches
docs
node_modules
tags
trunk
vendor

# Bootstrap
css/bootstrap*
fonts/glyphicon*
js/bootstrap*
js/npm.js

